@import "../styles/fonts";
//Select
.mad-select {
  font-size: 16px;
  &--isMulti {
    .mad-select__control {
      min-height: 40px;
      height: 100%;
    }
  }
}
.mad-select__menu {
  font-family: $font_med;
  margin-top: 5px !important;
  text-align: left;
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    margin-top: 0;
    background-color: #fcfcfc;
    border: 1px solid #e6e6e6;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #cccccc;
  }
}
.mad-select__control {
  height: 40px;
}
.mad-select__single-value {
  color: #333333;
  font-family: $font_bold;
}
.mad-select__dropdown-indicator {
  padding: 8px 10px 8px 8px !important;
}

.mad-select__indicators {
  padding-right: 10px;
  div {
    padding: 0 !important;
    div {
      padding: 0 !important;
      display: flex;
    }
  }
}