@import "./styles/fonts";
@mixin placeholder {
  &::-webkit-input-placeholder {
	@content
  }
  &:-moz-placeholder {
	@content
  }
  &::-moz-placeholder {
	@content
  }
  &:-ms-input-placeholder {
	@content
  }
}
$input-padding: 8px;

.mad-form {
	display: flex;
	flex-direction: column;
	line-height: 1;
	margin-bottom: 10px;
	&--disabled {
		
		.mad-form__input {
			background: #f2f2f2;
			&:focus-within {
				border-color: #B3B3B3;
			}
		}
	}
	&__input {
		box-sizing: content-box;
		display: flex;
		align-items: center;
		border: 2px solid #B3B3B3;
		border-radius: 4px;
		padding: 0 $input-padding;
		height: 36px; //36px height + 2 border top + 2px border-bottom = 40px
		&-textarea {
			height: 100%;
			padding-bottom: 5px;
			textarea {
				resize: none;
				height: -webkit-fill-available;
				line-height: 1.3;
				overflow: hidden;
				margin-top: 1px; //esy ee ne postavit' to 1px bordera szhiraetsya hz pochemu
			}
			
		}
		.DayPickerInput-Overlay--top {
			bottom: 40px;
			left: -$input-padding;
		}
		.DayPickerInput {
			width: 100%;
			&.mad-form__input {
				width: 100%;	
			}
			input {
				width: 100%;	
				height: 26px;
				border: none;
				outline: none;
			}
		}
		&:focus-within {
			border-color: #808080;
			outline-color: transparent;
		}
	}
	&__label {
		display: flex;
		justify-content: space-between;  
		align-items: center;
	  color: #4B4B4D;
		margin-bottom: 5px;

		label {
			font-size: 15px;
			margin-bottom: 0; //perepisivaet stil bootstrap
			font-family: $font_med;
		}
		span {
			font-size: 13px;
			font-family: $font_med;
			color: #CCCCCC;
		}
	}
	&__icon {
		width: 18px;
		padding: 7px 0;
	}
	&__delimeter {
		margin: 0 6px;
    border-left: 1px solid #B3B3B3;
    padding-top: 25px;
	}
	&__status {
		width: 7px;
		height: 7px;
		border-radius: 100px;
		margin-left: 8px;
		&-error {
			background: red;
		}
		&-success {
			background: #5fbb56;
		}
		&-info {
			background: transparent
		}
	}
	&__control {
		width: 100%;
		text-overflow: ellipsis;
		padding: 7px 0;
		font-size: 16px;
		color: black;
		font-family: $font_bold;
		background-color: #fff;
		border: none;
		@include placeholder {
			color: #B3B3B3;
			font-family: $font_med;
		}
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&:focus {
			outline: 0;
			border-color: #808080;
		}
		&:disabled {
			background-color: rgb(242, 242, 242);
			color: #999999;
		}
	}
  &-labels {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
  }
}